<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Hello World</h1>
<button onclick="corsTest()">corsTest</button>
<script>
  async function corsTest() {
    let response = await fetch(`http://192.168.0.87:8080/get`, {
      method:"get",
      // headers: {
      //   "Authorization": "Bearer helloCoin"
      // }
    });
    console.log(response);
  }

</script>
</body>
</html>